<head>
    <table WIDTH="700" BORDER="0" CELLSPACING="10" CELLPADDING="0" ALIGN="CENTER" SUMMARY="Header">
        <tr>
            <td width="192" rowspan="2" valign="bottom">
                <img src="https://www.cns.nyu.edu/~lcv/ICONS/lcvlogo192.gif" alt="LCV" width="192" height="144">
            </td>
            <td height="116" valign="bottom" align="center">
                <img src="https://www.cns.nyu.edu/~lcv/ICONS/lcv-title.gif" alt="Laboratory for Computational Vision" width="480" height="26">
            </td>
        </tr>
    </table>
</head>
