{% case include.mode %}
{% when "bibliography" %}
{% assign post_author = "" %}
{% when "superseded" %}
{% assign post_author = "<br>" %}
{% when "details" %}
{% assign post_author = "" %}
{% endcase %}

{%- if include.mode != "details" -%}
<b>{{ include.entry.title }}</b>
<br>
{{ include.entry.author }}.
{{ post_author }}
{% endif %}

{% case include.entry.type %}
{% when "article" %}
  {%-  if include.mode == "details" -%}
    Published in <i>{{ include.entry.rendered_journal }}</i>,
  {%- else -%}
    <i>{{ include.entry.journal }}</i>,
  {%- endif -%}
  {% include finicky_bits.html details="volume" value=include.entry.volume %}
  {% include finicky_bits.html details="number" value=include.entry.number %}
  {% include finicky_bits.html details="pages" value=include.entry.pages %}
  {{ include.entry.month | capitalize }} {{ include.entry.year }}.
{% when "inproceedings" %}
  {%-  if include.mode == "details" -%}
    {% include finicky_bits.html details="cnote" value=page.entry.cnote %}<br>
    Published in <i>{{ include.entry.rendered_journal }}</i>,
  {%- else -%}
    <i>{{ include.entry.booktitle }}</i>,
  {%- endif -%}
  {% include finicky_bits.html details="volume" value=include.entry.volume %}
  {% include finicky_bits.html details="number" value=include.entry.number %}
  {% include finicky_bits.html details="pages" value=include.entry.pages %}
  {{ include.entry.month | capitalize }} {{ include.entry.year }}.
{% when "incollection" %}
  {%-  if include.mode == "details" -%}
    Published in <i>{{ include.entry.rendered_journal }}</i>,
  {%- else -%}
    <i>{{ include.entry.booktitle }}</i>,
  {%- endif -%}
  {% include finicky_bits.html details="pages" value=include.entry.pages %}
  {{ include.entry.publisher }}, {{ include.entry.month | capitalize }} {{ include.entry.year }}.
{% when "techreport" %}
  {{ include.entry.institution }}, Technical Report {{ include.entry.number }},
  {{ include.entry.month | capitalize }} {{ include.entry.year }}.
{% when "phdthesis" %}
  PhD thesis, {{ include.entry.school }},
  {% include finicky_bits.html details="address" value=include.entry.address %}
  {{ include.entry.month | capitalize }} {{ include.entry.year }}.
{% when "mastersthesis" %}
  MS thesis, {{ include.entry.school }},
  {% include finicky_bits.html details="address" value=include.entry.address %}
  {{ include.entry.month | capitalize }} {{ include.entry.year }}.
{% when "bachelorsthesis" %}
  BS thesis, {{ include.entry.school }},
  {% include finicky_bits.html details="address" value=include.entry.address %}
  {{ include.entry.month | capitalize }} {{ include.entry.year }}.
{% else %}
  {{ include.entry.type }}, {{ include.entry.month | capitalize }} {{ include.entry.year }}.
{% endcase %}
