---
---
<html>
    {%- include head.html -%}
    <head>
        <script type="text/javascript" src="{{ "/assets/show_hide.js" | relative_url }}"></script>
    </head>
    <body>
        <h2>{{ page.entry.title }}</h2>
        <h3>{{ page.entry.rendered_author }}</h3>
        {% include reference.html entry=page.entry mode="details" -%}
        {%- include finicky_bits.html details="copy" value=page.entry.copy -%}
        {%- include finicky_bits.html details="other" value=page.entry.other -%}
        {%- include finicky_bits.html details="doi" value=page.entry.doi -%}

        {%-  if page.entry.superseded_by -%}
            <p>This paper has been superseded by:<br>
                {% assign superseded = page.entry.superseded_by | split: '||'  %}
                {% for supersed in superseded %}
                    <a href="{{ supersed }}.html">
                        {% bibliography --query @*[key={{supersed}}] --template superseded %}
                    </a>
                {% endfor %}
            </p>
        {%- endif -%}

        <br><div id="text3" style="display:inline;">BibTeX: <a id="showhide" href="javascript:void(0)" onClick="javascript:show_hide()">[show]</a><br>
            <div id="bibtex" style="display:none;">
                <pre size="-1">{{ page.entry.original_bibtex }}</pre>
            </div>
        </div>

        Download:
        {% if page.entry.pdf-url %}
            <li>
                <a href="{{ page.entry.pdf-url }}">Reprint (pdf)</a>
            </li>
        {% endif %}
        {% assign download = page.entry.download | split: '||'  %}
        {% for dl in download %}
            {% assign dl_split = dl | split: '|' %}
            <li>
                <a href="{{ dl_split[1] }}">{{ dl_split[0] }}</a>
            </li>
        {% endfor %}

        <hr size="1" noshade="">
        <p>{{ page.entry.abstract }}</p>
        <hr size="1" noshade="">
        {% if page.entry.supersedes %}
            {% assign supersedes = page.entry.supersedes | split: '||'  %}
            <li>
                Superseded Publications:
                {% for supersed in supersedes %}
                    {%- unless forloop.first -%},{%- endunless -%}
                    {% assign sup = supersed | split: '|'  %}
                    {% if sup.size > 1 %}
                        {% assign href = sup[1] %}
                    {% else %}
                        {% assign href = sup[0] %}
                    {% endif %}
                    <a class="needs-tips" id="{{ href }}" href="{{ href }}.html">{{ sup[0] }}</a>
                {% endfor %}
            </li>
            {% for supersed in supersedes %}
                {% assign sup = supersed | split: '|'  %}
                {% if sup.size > 1 %}
                    {% assign href = sup[1] %}
                {% else %}
                    {% assign href = sup[0] %}
                {% endif %}
                <div id="{{ href }}-tip" style="display:none">
                    {% bibliography --query @*[key={{href}}] --template superseded --bibliography_list_tag p %}
                </div>
            {% endfor %}
        {% endif %}
        {% if page.entry.related %}
            {% assign related = page.entry.related | split: '||'  %}
            <li>Related Publications:
                <ul style="margin: 0;">
                    {%- for relat in related -%}
                        <li>
                            {% assign rel = relat | split: '|'  %}
                            {% if rel.size > 1 %}
                                {{ rel[0] }}:
                                {% assign length = rel | size %}
                                {% assign rel = rel | slice: 1, length  %}
                            {% endif %}
                            {%- for r in rel -%}
                                {%- unless forloop.first %},{%- endunless %}
                                <a class="needs-tips" id="{{ r }}" href="{{ r }}.html">{{ r }}</a>
                            {%- endfor -%}
                        </li>
                    {%- endfor -%}
                </ul>
            </li>
            {% for relat in related %}
                {% assign rel = relat | split: '|' %}
                {% if rel.size > 1 %}
                    {% assign href = rel[1] %}
                {% else %}
                    {% assign href = rel[0] %}
                {% endif %}
                <div id="{{ href }}-tip" style="display:none">
                    {% bibliography --query @*[key={{href}}] --template superseded --bibliography_list_tag p %}
                </div>
            {% endfor %}
        {% endif %}
        <li>
            <a href="/publications/index.html">Listing of all publications</a>
        </li>
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/tippy.js@6"></script>
        <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light.css"/>
        <script type="text/javascript">
         tippy('.needs-tips', {
             content: (reference) => $("#" + reference.getAttribute("id") + "-tip").html(),
             allowHTML: true,
             placement: "right",
             theme: 'light',
             maxWidth: '',
         })
        </script>
    </body>
</html>
