---
layout: default
---

<div class="home">

  <h1 id="pagetitle">Selected Online Publications</h1>

  <table>
    <tbody>
      <tr>
        <td colspan="2">
          Sort by:
          <span id="page-radios">
            <input class="sort-radio" type="radio" id="radio-year" onclick="window.location='index.html'"/>
            <label class="sort-radio" for="radio-year">Year</label>
            <input class="sort-radio" type="radio" id="radio-type" onclick="window.location='type.html'"/>
            <label class="sort-radio" for="radio-type">Type</label>
            <input class="sort-radio" type="radio" id="radio-author" onclick="window.location='author.html'"/>
            <label for="radio-author">First Author</label>
          </span>
        </td>
      </tr>

      <tr>
        <td valign="top">
          Exclude:&nbsp;&nbsp;&nbsp;
        </td>
        <td>
          <div class="nowrap"><input id="superseded" type="checkbox" onchange="toggle_visibility(this)">Superseded Publications&nbsp;&nbsp;&nbsp;&nbsp;</div>
          <div class="nowrap"><input id="inproceedings" type="checkbox" onchange="toggle_visibility(this)">Conference Articles&nbsp;&nbsp;&nbsp;&nbsp;</div>
          <div class="nowrap"><input id="conf-abstract" type="checkbox" onchange="toggle_visibility(this)">Conference Abstracts&nbsp;&nbsp;&nbsp;&nbsp;</div>
          <div class="nowrap"><input id="exgroup" type="checkbox" onchange="toggle_visibility(this)">Book Chapters, Theses, Tech Reports & Other</div>
        </td>
      </tr>
    </tbody>
  </table>

  {{ content }}

</div>
